body {
    background-image: url("http://s4.postimg.org/jjzynzyh9/Dark_Forest_Wallpaper.jpg");
    background-repeat: no-repeat;
}
.nav a{
    font-size: 30px;
    color: darkgreen;
    background-color: black;
}
.txt1 {
    text-transform: uppercase;
    color: red;
}
.txt2 {
    color: white;
    font-weight: bold;
}
