body {
    background-image: url("http://s4.postimg.org/jjzynzyh9/Dark_Forest_Wallpaper.jpg");
    background-size: cover;
}

.nav li{
    font-size: 30px;
    color: green;
    background-color: black;
    display: inline;
}
.txt1 {
    display: inline;
    color: blue;
}
.txt2 {
    display: inline;
    color: green;
}
